.header .title h1 {
    margin-left: 50px;
    color: yellowgreen;

}

.header .navbar ul {

    list-style: none;
    text-align: right;



}

.header .navbar ul li {
    padding: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
    display: inline-block;
    border: solid transparent 1px;
}
.header .navbar ul li:hover{
    border: solid white 1px;
}

.header {
    display: flex;
}


.main{
    background-color:  rgba(97, 87, 87, 0.622) ;
    padding-bottom: 50px;
}
.foot{
    background-color:  rgba(97, 87, 87, 0.622) ;
    
}


.main .sweden .txt {
    padding-top: 15%;
    margin-left: 150px;
    font-size: large;
    font-weight: bold;
    color: white;
    width: 30%;
    margin-right: 30px;

}

.main .sweden .txt h2 {
    font-size: 50pt;
    font-weight: 100;
}
.main .sweden{
    display: flex;
    
}
.main .sweden .img{
    padding-top: 10%;
    margin-right: 100px;


}


.main .finland .txt {
    padding-top: 15%;
   margin-left: 30px;
    margin-right: 100px;
    font-size: large;
    font-weight: bold;
    color: white;
    width: 30%;

}

.main .finland .txt h2 {
    font-size: 50pt;
    font-weight: 100;
}
.main .finland{
    display: flex;
    
}
.main .finland .img{
    padding-top: 10%;
    margin-left: 150px;

}



.main .norway .txt {
    padding-top: 15%;
    margin-left: 150px;
    font-size: large;
    font-weight: bold;
    color: white;
    width: 30%;
    margin-right: 30px;

}

.main .norway .txt h2 {
    font-size: 50pt;
    font-weight: 100;
}
.main .norway{
    display: flex;
    
}
.main .norway .img{
    padding-top: 10%;
    margin-right: 100px;


}
.foot{
    height: 350px;
}
.foot .line{
    width: 80%;
    height: 2px;
    background-color: white;
    margin-left: 10%;
  
}
.txt{
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 10pt;
}